<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pet Store API Test Suite">
    <test name="Pet API Tests" preserve-order="true">
        <classes>
            <class name="com.nexustest.api.tests.PetTest"/>
        </classes>
    </test>
    <test name="Store API Tests" preserve-order="true">
        <classes>
            <class name="com.nexustest.api.tests.StoreTest"/>
        </classes>
    </test>
    <test name="User API Tests" preserve-order="true">
        <classes>
            <class name="com.nexustest.api.tests.UserTest"/>
        </classes>
    </test>
</suite>